---

import styles from "./menu.module.scss"
import Dish from "../Dish/Dish.astro"

const dish = [
    [
        {
            dish_name: "Butter Chicken",
            dish_img: "/home/dish.png",
            dish_price: "₹690",
            dish_content: "dishes with a touch of casual elegancset in a warm and inviting atmosphere.",
        },
        {
            dish_name: "Butter Chicken",
            dish_img: "/home/dish.png",
            dish_price: "₹690",
            dish_content: "dishes with a touch of casual elegancset in a warm and inviting atmosphere.",
        },
        {
            dish_name: "Butter Chicken",
            dish_img: "/home/dish.png",
            dish_price: "₹690",
            dish_content: "dishes with a touch of casual elegancset in a warm and inviting atmosphere.",
        },
        {
            dish_name: "Butter Chicken",
            dish_img: "/home/dish.png",
            dish_price: "₹690",
            dish_content: "dishes with a touch of casual elegancset in a warm and inviting atmosphere.",
        },
        {
            dish_name: "Butter Chicken",
            dish_img: "/home/dish.png",
            dish_price: "₹690",
            dish_content: "dishes with a touch of casual elegancset in a warm and inviting atmosphere.",
        },
    ],
    [
    {
            dish_name: "Butter Chicken",
            dish_img: "/home/dish.png",
            dish_price: "₹690",
            dish_content: "dishes with a touch of casual elegancset in a warm and inviting atmosphere.",
        },
        {
            dish_name: "Butter Chicken",
            dish_img: "/home/dish.png",
            dish_price: "₹690",
            dish_content: "dishes with a touch of casual elegancset in a warm and inviting atmosphere.",
        },
        {
            dish_name: "Butter Chicken",
            dish_img: "/home/dish.png",
            dish_price: "₹690",
            dish_content: "dishes with a touch of casual elegancset in a warm and inviting atmosphere.",
        },
        {
            dish_name: "Butter Chicken",
            dish_img: "/home/dish.png",
            dish_price: "₹690",
            dish_content: "dishes with a touch of casual elegancset in a warm and inviting atmosphere.",
        },
        {
            dish_name: "Butter Chicken",
            dish_img: "/home/dish.png",
            dish_price: "₹690",
            dish_content: "dishes with a touch of casual elegancset in a warm and inviting atmosphere.",
        },
    ]
];

const title1="Menu";

const button1={
name:"Download Our Food Menu",
file:"",
}

const button2={
name:"Download Our Bar Menu",
file:"",
}

---

<div>
    <div class={`container ${styles.menu}`}>
        <Dish button2={button2} button1={button1} title1 ={title1} data = {dish}/>
    </div>
</div>
