---
import styles from "./menu.module.scss";
import Dish from "../home/Dish/Dish.astro";
import { dish } from "@data/menu";

const title1 = "Food Menu";
const title2 = "Drinks Menu";

const button1 = {
	name: "Download Our Food Menu",
	file: "/food-menu.pdf",
};

const button2 = {
	name: "Download Our Bar Menu",
	file: "",
};
---

<div class={styles.menu}>
	<div class="container">
		<Dish button1={button1} title1={title1} data={dish} />
	</div>
	<!-- <div class="container">
		<Dish button1={button2} title1={title2} data={dish} />
	</div> -->
</div>
