---
import styles from "./hero.module.scss";

const links = [
	{
		link: "/",
		text: "Home",
	},
	{
		link: "/menu",
		text: "Menu",
	},
	{
		link: "/gallery",
		text: "Gallery",
	},
	{
		link: "/reservation",
		text: "Reservation",
	},
];
---

<div class={styles.hero}>
	<nav class={styles.nav}>
		<div class={styles.logo}>
			<a href="/"><img src="/logo.svg" alt="Cozy Lounge" /> </a>
		</div>

		<div class={styles.links}>
			<ul>
				{
					links.map((item) => {
						return (
							<li>
								<a data-type="link" href={item.link}>
									{item.text}
								</a>
							</li>
						);
					})
				}
			</ul>
		</div>
	</nav>

	<div class={styles.cozy}>
		<div id="embla" class={styles.image}>
			<div class={styles.embla__viewport} id="embla__viewport">
				<div class={styles.embla__container}>
					<div class={styles.embla__slide}>
						<img src="/home/hero/one.webp" alt="" />
					</div>
					<div class={styles.embla__slide}>
						<img src="/home/hero/two.webp" alt="" />
					</div>
					<div class={styles.embla__slide}>
						<img src="/home/hero/three.webp" alt="" />
					</div>
				</div>
			</div>
		</div>

		<div class={styles.content}>
			<p class={`clash-display ${styles.subheading}`}>
				Cozy- The Casual Lounge
			</p>
			<h1 class={`clash-display ${styles.heading}`}>
				Where Comfort Meets Flavor
			</h1>
			<div class={styles.action}>
				<a
					href="/reservation"
					data-type="button"
					data-variant="primary"
				>
					Book a Table
				</a>
			</div>
		</div>
	</div>

	<div class={styles.menu}>
		<img class={styles.image} src="/home/hero-2.webp" alt="" />

		<div class={styles.content}>
			<h4 class="clash-display">
				<a data-type="link" href="/menu">Our Menu</a>
			</h4>
			<p>Delicious dishes for every palate.</p>
		</div>
	</div>

	<div class={styles.delivery}>
		<img class={styles.image} src="/home/hero-3.webp" alt="" />

		<div class={styles.content}>
			<h4 class="clash-display">
				<a
					href="https://www.zomato.com/ncr/cozy-the-casual-lounge-sector-75-noida?amp=1"
					target="_blank"
					data-type="link">Delivery</a
				>
			</h4>
			<p>Fresh flavors delivered to you.</p>
		</div>
	</div>

	<div class={styles.inside}>
		<img class={styles.image} src="/home/hero-4.webp" alt="" />

		<div class={styles.content}>
			<h4 class="clash-display">
				<a href="/gallery" data-type="link">Inside Cozy Lounge</a>
			</h4>
			<p>Cozy ambiance, memorable dining experience.</p>
		</div>
	</div>
</div>

<section class="embla"></section>

<script src="../../../scripts/carousel.ts"></script>
