---
import styles from "./menu.module.scss";
import Dish from "../Dish/Dish.astro";
import { dish } from "@data/menu";

const title1 = "Our Menu";

const button1 = {
	name: "Download Our Food Menu",
	file: "/food-menu.pdf",
};

const button2 = {
	name: "Download Our Bar Menu",
	file: "",
};
---

<div class={styles.menu}>
	<div class="container">
		<Dish button2={button2} button1={button1} title1={title1} data={dish} />
	</div>
</div>
